@import 'tailwindcss';
@import './styles/utils.css';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    @keyframes appear {
        0% {
            opacity: 0;
            transform: translateY(1rem);
            filter: blur(0.5rem);
        }
        50% {
            filter: blur(0);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }
    @keyframes appear-zoom {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

:root {
    --radius: 0.5rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.144 0.004 6.900424304997668);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.144 0.004 6.900424304997668);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.144 0.004 6.900424304997668);
    --primary: oklch(0.538 0.202 20.973334565497517);
    --primary-foreground: oklch(0.96 0.003 6.6687025975005065);
    --secondary: oklch(0.877 0.013 6.964345653674556);
    --secondary-foreground: oklch(0.209 0.013 8.097552035928922);
    --muted: oklch(0.877 0.013 6.964345653674556);
    --muted-foreground: oklch(0.517 0.092 11.259612166987678);
    --accent: oklch(0.77 0.069 8.827054540557333);
    --accent-foreground: oklch(0.201 0.039 11.743207652087184);
    --destructive: oklch(0.58 0.237 28.43022926835137);
    --border: oklch(0.835 0.017 7.11935529767331);
    --input: oklch(0.835 0.017 7.11935529767331);
    --ring: oklch(0.538 0.202 20.973334565497517);
    --chart-1: oklch(0.538 0.202 20.973334565497517);
    --chart-2: oklch(0.633 0.154 13.439628081556783);
    --chart-3: oklch(0.725 0.084 9.527752634376233);
    --chart-4: oklch(0.413 0.159 22.170923294251903);
    --chart-5: oklch(0.308 0.112 19.958730572358437);
    --sidebar: oklch(0.877 0.013 6.964345653674556);
    --sidebar-foreground: oklch(0.209 0.013 8.097552035928922);
    --sidebar-primary: oklch(0.538 0.202 20.973334565497517);
    --sidebar-primary-foreground: oklch(0.96 0.003 6.6687025975005065);
    --sidebar-accent: oklch(0.77 0.069 8.827054540557333);
    --sidebar-accent-foreground: oklch(0.201 0.039 11.743207652087184);
    --sidebar-border: oklch(0.835 0.017 7.11935529767331);
    --sidebar-ring: oklch(0.538 0.202 20.973334565497517);
}

.dark {
    --background: oklch(0.204 0.026 9.80204888090432);
    --foreground: oklch(0.96 0.003 6.6687025975005065);
    --card: oklch(0.244 0.035 10.218609571824828);
    --card-foreground: oklch(0.96 0.003 6.6687025975005065);
    --popover: oklch(0.244 0.035 10.218609571824828);
    --popover-foreground: oklch(0.96 0.003 6.6687025975005065);
    --primary: oklch(0.568 0.2 18.89681099861217);
    --primary-foreground: oklch(0.951 0.018 7.077488174008367);
    --secondary: oklch(0.26 0.018 8.313516522830978);
    --secondary-foreground: oklch(0.959 0.004 6.70513872555949);
    --muted: oklch(0.26 0.018 8.313516522830978);
    --muted-foreground: oklch(0.706 0.032 7.734936864127324);
    --accent: oklch(0.343 0.084 13.496352112612929);
    --accent-foreground: oklch(0.954 0.013 6.927135156326291);
    --destructive: oklch(0.529 0.195 27.156747692001183);
    --border: oklch(0.352 0.037 9.256508868231109);
    --input: oklch(0.352 0.037 9.256508868231109);
    --ring: oklch(0.568 0.2 18.89681099861217);
    --chart-1: oklch(0.568 0.2 18.89681099861217);
    --chart-2: oklch(0.671 0.156 13.005097373008574);
    --chart-3: oklch(0.755 0.117 10.562087458681193);
    --chart-4: oklch(0.433 0.132 16.084834881567858);
    --chart-5: oklch(0.343 0.084 13.496352112612929);
    --sidebar: oklch(0.319 0.051 10.703077425337012);
    --sidebar-foreground: oklch(0.96 0.003 6.6687025975005065);
    --sidebar-primary: oklch(0.568 0.2 18.89681099861217);
    --sidebar-primary-foreground: oklch(0.951 0.018 7.077488174008367);
    --sidebar-accent: oklch(0.343 0.084 13.496352112612929);
    --sidebar-accent-foreground: oklch(0.954 0.013 6.927135156326291);
    --sidebar-border: oklch(0.352 0.037 9.256508868231109);
    --sidebar-ring: oklch(0.568 0.2 18.89681099861217);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    .animate-appear {
        animation: appear 0.7s ease-out forwards;
    }

    @keyframes appear {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Utility */
@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}
@utility container-2xl {
    max-width: 1400px;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* sr-only hotfix */
.sr-only {
    top: 0;
    left: 0;
}
